#header_message{
    margin: 0 0 0 0;
    color:#12A0A9;
}
.contact-form {
    padding: 20px 0 20px 10px;
}
.ajax_form #sending,.ajax_form #reservation_send_ok,.ajax_form #reservation_send_failure {
    display: none;
}
.omega  .ui-selectmenu {
	margin-right:0px!important;
}
.omega .inputtext {
    margin-right:0px!important;
}
.ajax_form #sending{
    color:#fff;
    text-align:center;
    margin-right:30px;
	border:0;
}
.ajax_form  #sending span {
    padding-left: 18px;}
.ajax_form .btn-send2{
    background: url("../../../../../images/btn_send_pink.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    margin-left: 30px;
    height:32px;
    color: #FFFFFF;
    font-family: 'CartoGothicStdBold',Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 25px;
    padding: 0 20px;
    text-align: left;}

.contact-form label{
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#12a0a9;
	font-style:italic;
    margin-right: 15%;
}
.contact-form input[type="text"],.contact-form input[type="password"]{
    margin-right: 40px;
    padding: 7px 10px;
    margin-top: 5px;
}
.contact-form .btn-submit{
    background: url('../../../../../images/buttons_submit.png') no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-family: 'CartoGothicStdBold',Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    padding: 0 35px 0 12px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    width: 163px;
}

.tf_custom_contactform_row{
    float: left;
    margin-top: 9px;
    width: 100%;
    position: relative;
}
.tfuse_captcha_reload{
        background-image:url(../images/reload.png);
        background-repeat: no-repeat;
        height: 18px !important;
        margin-top: 15px !important;
        max-width: 16px !important;
        vertical-align: top;
        background-color: transparent;
        margin-left: 10px;
		border:0px;
    }
.tfuse_captcha_img{
border: 0px!important;}

/* preview*/
#TB_ajaxContent .contact-form .btn-submit {
    background: url("../../../../../images/buttons_submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    font-family: 'CartoGothicStdBold',Arial,Helvetica,sans-serif;
    font-size: 11px;
    height: 32px;
    line-height: 32px;
    padding: 0 35px 0 12px;
    text-shadow: 0 1px 1px #000000;
    text-transform: uppercase;
    width: 163px;
}
#TB_ajaxContent #send {

    cursor: pointer;
}

#TB_ajaxContent .reset-link a:hover {
    color: #ce205a;
}
#TB_ajaxContent .checkbox{
    background-color: #FFFFFF !important;
}
#TB_ajaxContent .inputtext{
    border-radius: 0px;
}

#TB_ajaxContent #send {
    font-family: 'CartoGothicStdBold' !important;
    font-size: 11px !important;
    font-weight: bold;
    padding-bottom: 2px;
    text-align: left;
}

#TB_ajaxContent .reset-link {
    display: block;
    float: right;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-style: italic;
    padding: 10px 40px 0 0;
    text-decoration: none !important;
}
#TB_window a:link {
    text-decoration: none !important;
}
.ui-selectmenu-menu.ui-selectmenu-open{
    z-index: 999;
}